{% extends 'base.html.twig' %}

{% block title %}{{ 'App'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% set config = {
            search_url_template: path('api_work_of_arts_GET_collection', {query: ':query'}),
            search_url: path('api_work_of_arts_GET_collection'),
            artists_url: path('api_artists_GET_collection'),
            locations_url: path('api_locations_GET_collection'),
            categories_url: path('api_categories_GET_collection'),
            } %}

        <div id="app-root" data-config="{{ config|json_encode }}"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
